nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')=pageTitle
    ul.nav.navbar-nav
      li
        a(href='/goa') Goa
      li
        a(href='/jaipur') Jaipur
      li
        a(href='/mussourie') Mussourie
      li
        a(href='/pondicherry') Pondicherry

          