meta(charset='utf-8')
// <link rel='icon' href='/images/favicon.jpg' type='image/x-icon' >
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
script(src='//use.edgefonts.net/advent-pro.js')